1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [3]:
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("after adding 200 and 300",L)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)
L.sort()
print("Sorted in ascending order:", L)
L.sort(reverse=True)
print("Sorted in descending order:", L)

after adding 200 and 300 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [11]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print('Highest score is: ',max(scores))
print('Highest score present at index: ',scores.index(max(scores)))
print('Lowest score is: ',min(scores))
print('Lowest score present for these many times: ',scores.count(min(scores)))
reversed_list = list(reversed(scores))
print('Reversed list: ',reversed_list)
score_to_check=76
if score_to_check in scores:
    print("score_to_check is present in the tuple.")
else:
    print("score_to_check is not present in the tuple.")

Highest score is:  92
Highest score present at index:  5
Lowest score is:  45
Lowest score present for these many times:  2
Reversed list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
score_to_check is present in the tuple.

WAP to create a list of 100 random numbers between 100 and 900. Count and print the: i. All odd numbers ii. All even numbers iii. All prime numbers

In [17]:
import random as r

# Initialize list and counters
l = []
for i in range(100):   # 100 bcoz we need to create a list of 100 random nos
    l.append(r.randint(100, 900))

even_count = 0
odd_count = 0
prime_count = 0

# Print even numbers and count
print("All even numbers are: ")
for item in l:
    if item % 2 == 0:
        print(item, end=" ")
        even_count += 1
print("\nThe total number of even numbers is:", even_count)

# Print odd numbers and count
print("\nAll odd numbers are: ")
for item in l:
    if item % 2 == 1:
        print(item, end=" ")
        odd_count += 1
print("\nThe total number of odd numbers is:", odd_count)

# Print prime numbers and count
print("\nAll prime numbers are: ")
for item in l:
    if item > 1:  # Prime numbers start from 2
        found = False
        for j in range(2, int(item**0.5) + 1):  # Check divisors up to √item
            if item % j == 0:
                found = True
                break
        if not found:
            print(item, end=" ")
            prime_count += 1
print("\nThe total number of prime numbers is:", prime_count)

All even numbers are:
700 694 106 436 434 430 210 390 604 294 110 190 518 514 562 204 374 408 208 652 830 640 762 698 446 374 246 102 302 370 454 144 192 828 428 558 564 496 294 542 486 688 112 114 380 380 590 664 758 502 352 412
The total number of even numbers is: 52

All odd numbers are:
703 871 683 155 353 661 183 577 693 377 505 785 515 489 335 211 515 283 119 485 279 887 321 813 495 527 681 119 741 243 137 359 749 349 719 157 771 647 891 733 169 653 771 573 573 563 835 653
The total number of odd numbers is: 48

All prime numbers are:
683 353 661 577 211 283 887 137 359 349 719 157 647 733 653 563 653
The total number of prime numbers is: 17

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [26]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

print("The unique scores achieved by both teams: ",A.union(B))
print("The scores that are common to both teams: ",A.intersection(B))
print("The scores that are exclusive to each team: ",A^B)

if A.issubset(B):
  print("Set A is subset of the set B")
else:
  print("Set A is not the subset of the set B")
if B.issuperset(A):
  print("Set B is superset of the set A")
else:
  print("Set B is not the superset of the set A")

remove_score=int(input("enter an element to be removed"))
if remove_score in A:
  A.remove(remove_score)
  print("updated set is ",A)
else:
  print("element is not present")

The unique scores achieved by both teams:  {34, 45, 78, 23, 56, 90}
The scores that are common to both teams:  {90, 78}
The scores that are exclusive to each team:  {34, 45, 23, 56}
Set A is not the subset of the set B
Set B is not the superset of the set A
enter an element to be removed56
updated set is  {34, 90, 78}

Write a program to rename a key city to a locaƟon in the following dictionary.

In [16]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print("original dictionary is :",sample_dict)

sample_dict.pop("city")
sample_dict["location"]="New York"
print("After updation the new dictionary is : ",sample_dict)

original dictionary is : {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
After updation the new dictionary is :  {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}